<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-plant-heading" jhiTranslate="prestartApp.plant.home.createOrEditLabel">Create or edit a Plant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!plant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="plant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.fleetId" for="field_fleetId">Fleet Id</label>
                    <input type="text" class="form-control" name="fleetId" id="field_fleetId"
                        [(ngModel)]="plant.fleetId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="plant.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                        [(ngModel)]="plant.notes" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.purchaseDate" for="field_purchaseDate">Purchase Date</label>
                    <div class="d-flex">
                        <input id="field_purchaseDate" type="datetime-local" class="form-control" name="purchaseDate" [(ngModel)]="purchaseDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="plant.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="plant.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.vin" for="field_vin">Vin</label>
                    <input type="text" class="form-control" name="vin" id="field_vin"
                        [(ngModel)]="plant.vin" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.rego" for="field_rego">Rego</label>
                    <input type="text" class="form-control" name="rego" id="field_rego"
                        [(ngModel)]="plant.rego" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.dateOfManufacture" for="field_dateOfManufacture">Date Of Manufacture</label>
                    <div class="d-flex">
                        <input id="field_dateOfManufacture" type="datetime-local" class="form-control" name="dateOfManufacture" [(ngModel)]="dateOfManufacture"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.image" for="field_image">Image</label>
                    <div>
                        <div *ngIf="plant.image" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(plant.imageContentType, plant.image)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{plant.imageContentType}}, {{byteSize(plant.image)}}</span>
                            <button type="button" (click)="plant.image=null;plant.imageContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_image" (change)="setFileData($event, plant, 'image', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                        [(ngModel)]="plant.image" />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                        [(ngModel)]="plant.imageContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.tankSize" for="field_tankSize">Tank Size</label>
                    <input type="number" class="form-control" name="tankSize" id="field_tankSize"
                        [(ngModel)]="plant.tankSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.meterReading" for="field_meterReading">Meter Reading</label>
                    <input type="number" class="form-control" name="meterReading" id="field_meterReading"
                        [(ngModel)]="plant.meterReading" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.maintenanceDueAt" for="field_maintenanceDueAt">Maintenance Due At</label>
                    <input type="number" class="form-control" name="maintenanceDueAt" id="field_maintenanceDueAt"
                        [(ngModel)]="plant.maintenanceDueAt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.maintenanceDueDate" for="field_maintenanceDueDate">Maintenance Due Date</label>
                    <div class="d-flex">
                        <input id="field_maintenanceDueDate" type="datetime-local" class="form-control" name="maintenanceDueDate" [(ngModel)]="maintenanceDueDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.meterUnit" for="field_meterUnit">Meter Unit</label>
                    <select class="form-control" name="meterUnit" [(ngModel)]="plant.meterUnit" id="field_meterUnit" >
                        <option value="KM">{{'prestartApp.MeterUnit.KM' | translate}}</option>
                        <option value="HOUR">{{'prestartApp.MeterUnit.HOUR' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.certificateDueDate" for="field_certificateDueDate">Certificate Due Date</label>
                    <div class="d-flex">
                        <input id="field_certificateDueDate" type="datetime-local" class="form-control" name="certificateDueDate" [(ngModel)]="certificateDueDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.rucDueAtKm" for="field_rucDueAtKm">Ruc Due At Km</label>
                    <input type="number" class="form-control" name="rucDueAtKm" id="field_rucDueAtKm"
                        [(ngModel)]="plant.rucDueAtKm" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.hubboReading" for="field_hubboReading">Hubbo Reading</label>
                    <input type="number" class="form-control" name="hubboReading" id="field_hubboReading"
                        [(ngModel)]="plant.hubboReading" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.loadCapacity" for="field_loadCapacity">Load Capacity</label>
                    <input type="number" class="form-control" name="loadCapacity" id="field_loadCapacity"
                        [(ngModel)]="plant.loadCapacity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.hourlyRate" for="field_hourlyRate">Hourly Rate</label>
                    <input type="number" class="form-control" name="hourlyRate" id="field_hourlyRate"
                        [(ngModel)]="plant.hourlyRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.registrationDueDate" for="field_registrationDueDate">Registration Due Date</label>
                    <div class="d-flex">
                        <input id="field_registrationDueDate" type="datetime-local" class="form-control" name="registrationDueDate" [(ngModel)]="registrationDueDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.hireStatus" for="field_hireStatus">Hire Status</label>
                    <select class="form-control" name="hireStatus" [(ngModel)]="plant.hireStatus" id="field_hireStatus" >
                        <option value="ONHIRE">{{'prestartApp.HireStatus.ONHIRE' | translate}}</option>
                        <option value="OFFHIRE">{{'prestartApp.HireStatus.OFFHIRE' | translate}}</option>
                        <option value="OFFBREAK">{{'prestartApp.HireStatus.OFFBREAK' | translate}}</option>
                        <option value="OFFSEASO">{{'prestartApp.HireStatus.OFFSEASO' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.gpsDeviceSerial" for="field_gpsDeviceSerial">Gps Device Serial</label>
                    <input type="text" class="form-control" name="gpsDeviceSerial" id="field_gpsDeviceSerial"
                        [(ngModel)]="plant.gpsDeviceSerial" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.maintenanceType" for="field_maintenanceType">Maintenance Type</label>
                    <select class="form-control" name="maintenanceType" [(ngModel)]="plant.maintenanceType" id="field_maintenanceType" >
                        <option value="METER_BASED">{{'prestartApp.MaintenanceType.METER_BASED' | translate}}</option>
                        <option value="TIME_BASED">{{'prestartApp.MaintenanceType.TIME_BASED' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.location" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" [(ngModel)]="plant.location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === plant.location?.id ? plant.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="plant.category" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === plant.category?.id ? plant.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.owner" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="plant.owner" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === plant.owner?.id ? plant.owner : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.assignedContractor" for="field_assignedContractor">Assigned Contractor</label>
                    <select class="form-control" id="field_assignedContractor" name="assignedContractor" [(ngModel)]="plant.assignedContractor" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="maintenanceContractorOption.id === plant.assignedContractor?.id ? plant.assignedContractor : maintenanceContractorOption" *ngFor="let maintenanceContractorOption of maintenancecontractors; trackBy: trackMaintenanceContractorById">{{maintenanceContractorOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plant.project" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" [(ngModel)]="plant.project" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id === plant.project?.id ? plant.project : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
