<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-category-heading" jhiTranslate="prestartApp.category.home.createOrEditLabel">Create or edit a Category</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!category.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="category.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.category" for="field_category">Category</label>
                    <input type="text" class="form-control" name="category" id="field_category"
                        [(ngModel)]="category.category" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="category.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="category.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.trackUsage" for="field_trackUsage">Track Usage</label>
                    <input type="checkbox" class="form-control" name="trackUsage" id="field_trackUsage"
                        [(ngModel)]="category.trackUsage" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.dailyRate" for="field_dailyRate">Daily Rate</label>
                    <input type="number" class="form-control" name="dailyRate" id="field_dailyRate"
                        [(ngModel)]="category.dailyRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.loadCapacity" for="field_loadCapacity">Load Capacity</label>
                    <input type="number" class="form-control" name="loadCapacity" id="field_loadCapacity"
                        [(ngModel)]="category.loadCapacity" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.hourlyRate" for="field_hourlyRate">Hourly Rate</label>
                    <input type="number" class="form-control" name="hourlyRate" id="field_hourlyRate"
                        [(ngModel)]="category.hourlyRate" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.isEarchMovingPlant" for="field_isEarchMovingPlant">Is Earch Moving Plant</label>
                    <input type="checkbox" class="form-control" name="isEarchMovingPlant" id="field_isEarchMovingPlant"
                        [(ngModel)]="category.isEarchMovingPlant" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.isTrackedForInternalBilling" for="field_isTrackedForInternalBilling">Is Tracked For Internal Billing</label>
                    <input type="checkbox" class="form-control" name="isTrackedForInternalBilling" id="field_isTrackedForInternalBilling"
                        [(ngModel)]="category.isTrackedForInternalBilling" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.maintenanceGroup" for="field_maintenanceGroup">Maintenance Group</label>
                    <select class="form-control" name="maintenanceGroup" [(ngModel)]="category.maintenanceGroup" id="field_maintenanceGroup" >
                        <option value="YELLOW_FLEET">{{'prestartApp.MaintenanceGroup.YELLOW_FLEET' | translate}}</option>
                        <option value="WHITE_FLEET">{{'prestartApp.MaintenanceGroup.WHITE_FLEET' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.competency" for="field_competency">Competency</label>
                    <select class="form-control" id="field_competency" name="competency" [(ngModel)]="category.competency" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="competencyOption.id === category.competency?.id ? category.competency : competencyOption" *ngFor="let competencyOption of competencies; trackBy: trackCompetencyById">{{competencyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.category.prestartCheckConfig" for="field_prestartCheckConfig">Prestart Check Config</label>
                    <select class="form-control" id="field_prestartCheckConfig" name="prestartCheckConfig" [(ngModel)]="category.prestartCheckConfig" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="prestartCheckConfigOption.id === category.prestartCheckConfig?.id ? category.prestartCheckConfig : prestartCheckConfigOption" *ngFor="let prestartCheckConfigOption of prestartcheckconfigs; trackBy: trackPrestartCheckConfigById">{{prestartCheckConfigOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
