<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-competency-heading" jhiTranslate="prestartApp.competency.home.createOrEditLabel">Create or edit a Competency</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!competency.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="competency.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.competency.competency" for="field_competency">Competency</label>
                    <input type="text" class="form-control" name="competency" id="field_competency"
                        [(ngModel)]="competency.competency" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.competency.grouping" for="field_grouping">Grouping</label>
                    <input type="text" class="form-control" name="grouping" id="field_grouping"
                        [(ngModel)]="competency.grouping" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.competency.sortOrder" for="field_sortOrder">Sort Order</label>
                    <input type="number" class="form-control" name="sortOrder" id="field_sortOrder"
                        [(ngModel)]="competency.sortOrder" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
