<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prestartCheckResponse">
            <h2><span jhiTranslate="prestartApp.prestartCheckResponse.detail.title">Prestart Check Response</span> {{prestartCheckResponse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestartApp.prestartCheckResponse.prestartCheck">Prestart Check</span></dt>
                <dd>
                    <div *ngIf="prestartCheckResponse.prestartCheck">
                        <a [routerLink]="['/prestart-check', prestartCheckResponse.prestartCheck?.id, 'view']">{{prestartCheckResponse.prestartCheck?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartCheckResponse.question">Question</span></dt>
                <dd>
                    <div *ngIf="prestartCheckResponse.question">
                        <a [routerLink]="['/prestart-question', prestartCheckResponse.question?.id, 'view']">{{prestartCheckResponse.question?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartCheckResponse.response">Response</span></dt>
                <dd>
                    <div *ngIf="prestartCheckResponse.response">
                        <a [routerLink]="['/prestart-question-option', prestartCheckResponse.response?.id, 'view']">{{prestartCheckResponse.response?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prestart-check-response', prestartCheckResponse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
