<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-prestart-check-question-list-item-heading" jhiTranslate="prestartApp.prestartCheckQuestionListItem.home.createOrEditLabel">Create or edit a Prestart Check Question List Item</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!prestartCheckQuestionListItem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="prestartCheckQuestionListItem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartCheckQuestionListItem.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                        [(ngModel)]="prestartCheckQuestionListItem.order" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartCheckQuestionListItem.prestartCheckConfig" for="field_prestartCheckConfig">Prestart Check Config</label>
                    <select class="form-control" id="field_prestartCheckConfig" name="prestartCheckConfig" [(ngModel)]="prestartCheckQuestionListItem.prestartCheckConfig" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="prestartCheckConfigOption.id === prestartCheckQuestionListItem.prestartCheckConfig?.id ? prestartCheckQuestionListItem.prestartCheckConfig : prestartCheckConfigOption" *ngFor="let prestartCheckConfigOption of prestartcheckconfigs; trackBy: trackPrestartCheckConfigById">{{prestartCheckConfigOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartCheckQuestionListItem.question" for="field_question">Question</label>
                    <select class="form-control" id="field_question" name="question" [(ngModel)]="prestartCheckQuestionListItem.question" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="prestartQuestionOption.id === prestartCheckQuestionListItem.question?.id ? prestartCheckQuestionListItem.question : prestartQuestionOption" *ngFor="let prestartQuestionOption of prestartquestions; trackBy: trackPrestartQuestionById">{{prestartQuestionOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
