<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prestartCheckQuestionListItem">
            <h2><span jhiTranslate="prestartApp.prestartCheckQuestionListItem.detail.title">Prestart Check Question List Item</span> {{prestartCheckQuestionListItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestartApp.prestartCheckQuestionListItem.order">Order</span></dt>
                <dd>
                    <span>{{prestartCheckQuestionListItem.order}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartCheckQuestionListItem.prestartCheckConfig">Prestart Check Config</span></dt>
                <dd>
                    <div *ngIf="prestartCheckQuestionListItem.prestartCheckConfig">
                        <a [routerLink]="['/prestart-check-config', prestartCheckQuestionListItem.prestartCheckConfig?.id, 'view']">{{prestartCheckQuestionListItem.prestartCheckConfig?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartCheckQuestionListItem.question">Question</span></dt>
                <dd>
                    <div *ngIf="prestartCheckQuestionListItem.question">
                        <a [routerLink]="['/prestart-question', prestartCheckQuestionListItem.question?.id, 'view']">{{prestartCheckQuestionListItem.question?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prestart-check-question-list-item', prestartCheckQuestionListItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
