<div class="mat-typography">
  <h4>Review your input. </h4>
  <div>
    <div>
      <div class="mat-subheading-1">Fault checks</div>
      <div *ngFor="let option of data.chosenOptions" class="valign">
        <div>
          <mat-icon *ngIf="option.isNormal" class="text-success large-icon">check_circle</mat-icon>
          <mat-icon *ngIf="!option.isNormal && option.prestartQuestion.isLockOutRequired " class="text-danger large-icon">error</mat-icon>
          <mat-icon *ngIf="!option.isNormal && !option.prestartQuestion.isLockOutRequired" class="text-warning large-icon">warning</mat-icon>
        </div>
        <div class="ml-4">
          <div class="label">
            <span class="mat-body-2">{{option.prestartQuestion.body}} </span>
          </div>
          <div class="label">
            <span class="mat-body-1"> {{option.body}} </span>
          </div>
          <div *ngIf="!option.isNormal" class="instruction">
            <div *ngIf="option.prestartQuestion.isLockOutRequired" class="text-danger valign">
              <span>You must tag/lock out the plant. Do Not Operate - Notify Site Manamgement immediately.</span>
            </div>
            <div *ngIf="!option.prestartQuestion.isLockOutRequired" class="text-warning valign">
              <span>Notify Site Manamgement</span>
            </div>
          </div>
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>
    </div>
  </div>

  <div class="section padded" *ngIf="data.plantLog.plant.maintenanceType === 'METER_BASED'">
    <div class="mat-subheading-2">Meter and Service</div>
    <mat-form-field>
      <input matInput type="number" placeholder="New reading" value="{{data.plantLog.meterReading}}" readonly>
      <span matSuffix> {{data.plantLog.plant.meterUnit}}</span>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Service due at" value="{{data.plantLog.maintenanceDueAt}}" readonly>
      <span matSuffix> {{data.plantLog.plant.meterUnit}}</span>
    </mat-form-field>
  </div>
  <div class="section padded" *ngIf="data.plantLog.plant.maintenanceType === 'TIME_BASED'">
    <div class="mat-subheading-2">Service</div>
    <mat-form-field>
      <input matInput [matDatepicker]="serviceDueDatepicker" placeholder="Service Due Date" [value]="data.plantLog.maintenanceDueDate"
        readonly>
      <mat-datepicker-toggle matSuffix [for]="serviceDueDatepicker" disabled></mat-datepicker-toggle>
      <mat-datepicker #serviceDueDatepicker disabled></mat-datepicker>
    </mat-form-field>
  </div>


  <mat-divider *ngIf="data.plantLog.plant.hubboReading"></mat-divider>
  <div class="section" *ngIf="data.plantLog.plant.hubboReading">
    <div class="mat-subheading-2">Hubbo and Ruc</div>
    <mat-form-field>
      <input matInput type="number" placeholder="New reading" value="{{data.plantLog.hubboReading}}" readonly>
      <span matSuffix> KM</span>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Ruc due at" value="{{data.plantLog.rucDueAt}}" readonly>
      <span matSuffix> KM</span>
    </mat-form-field>
  </div>
  <mat-divider *ngIf="data.plantLog.plant.certificateDueDate || data.plantLog.plant.registrationDueDate"></mat-divider>
  <div class="section padded" *ngIf="data.plantLog.plant.certificateDueDate || data.plantLog.plant.registrationDueDate">

    <div class="mat-subheading-2">Compliance</div>
    <mat-form-field *ngIf="data.plantLog.plant.registrationDueDate">
      <input matInput [matDatepicker]="regoDueDatepicker" placeholder="Rego due date" [value]="data.plantLog.registrationDueDate"
        readonly>
      <mat-datepicker-toggle matSuffix [for]="regoDueDatepicker" disabled></mat-datepicker-toggle>
      <mat-datepicker #regoDueDatepicker disabled></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="data.plantLog.plant.certificateDueDate">
      <input matInput [matDatepicker]="certDueDatepicker" placeholder="Wof/ Cof due date" [value]="data.plantLog.certificateDueDate"
        readonly>
      <mat-datepicker-toggle matSuffix [for]="certDueDatepicker" disabled></mat-datepicker-toggle>
      <mat-datepicker #certDueDatepicker disabled></mat-datepicker>
    </mat-form-field>

  </div>
  <mat-divider class="divider"></mat-divider>
  <div class="section">
    <div class=" mat-subheading-1 ">Notes</div>
    <div>
      <p class="mat-body-1 ">{{data.plantLog.notes}}</p>
    </div>
  </div>
  <mat-divider class="divider "></mat-divider>
  <div class='button-container'>
    <button mat-button routerLink="/notes " class='button-back' skipLocationChange>Back</button>
    <button mat-raised-button color="primary" routerLink="/submission" skipLocationChange>Confirm</button>
  </div>
</div>