<h1 class='mat-headline'>
  Confirm plant
</h1>
<p class='mat-body-1'>Is this the plant you are doing prestart on?</p>
<mat-card>
  <mat-card-header>
    <mat-card-title>{{plant.fleetId}}</mat-card-title>
    <mat-card-subtitle>{{plant.category.category}}</mat-card-subtitle>
    <mat-card-subtitle>{{plant.description}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<div class='buttons'>
  <button mat-button routerLink="/select-plant">Choose another plant</button>
  <button mat-raised-button color="primary" routerLink="/select-plant">Proceed</button>
</div>
