<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="prestartApp.company.detail.title">Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestartApp.company.company">Company</span></dt>
                <dd>
                    <span>{{company.company}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.company.phone">Phone</span></dt>
                <dd>
                    <span>{{company.phone}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.company.address">Address</span></dt>
                <dd>
                    <span>{{company.address}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.company.location">Location</span></dt>
                <dd>
                    <span>{{company.location}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.company.webPage">Web Page</span></dt>
                <dd>
                    <span>{{company.webPage}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.company.notes">Notes</span></dt>
                <dd>
                    <span>{{company.notes}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.company.isActive">Is Active</span></dt>
                <dd>
                    <span>{{company.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.company.abbreviation">Abbreviation</span></dt>
                <dd>
                    <span>{{company.abbreviation}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
