<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plantLog">
            <h2><span jhiTranslate="prestartApp.plantLog.detail.title">Plant Log</span> {{plantLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestartApp.plantLog.notes">Notes</span></dt>
                <dd>
                    <span>{{plantLog.notes}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.meterReading">Meter Reading</span></dt>
                <dd>
                    <span>{{plantLog.meterReading}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.hubboReading">Hubbo Reading</span></dt>
                <dd>
                    <span>{{plantLog.hubboReading}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.maintenanceDueAt">Maintenance Due At</span></dt>
                <dd>
                    <span>{{plantLog.maintenanceDueAt}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.rucDueAt">Ruc Due At</span></dt>
                <dd>
                    <span>{{plantLog.rucDueAt}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.certificateDueDate">Certificate Due Date</span></dt>
                <dd>
                    <span>{{plantLog.certificateDueDate}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.maintenanceDueDate">Maintenance Due Date</span></dt>
                <dd>
                    <span>{{plantLog.maintenanceDueDate}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.operatorName">Operator Name</span></dt>
                <dd>
                    <span>{{plantLog.operatorName}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.plant">Plant</span></dt>
                <dd>
                    <div *ngIf="plantLog.plant">
                        <a [routerLink]="['/plant', plantLog.plant?.id, 'view']">{{plantLog.plant?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="prestartApp.plantLog.site">Site</span></dt>
                <dd>
                    <div *ngIf="plantLog.site">
                        <a [routerLink]="['/project', plantLog.site?.id, 'view']">{{plantLog.site?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plant-log', plantLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
