<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-plant-log-heading" jhiTranslate="prestartApp.plantLog.home.createOrEditLabel">Create or edit a Plant Log</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!plantLog.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="plantLog.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.meterReading" for="field_meterReading">Meter Reading</label>
                    <input type="number" class="form-control" name="meterReading" id="field_meterReading"
                        [(ngModel)]="plantLog.meterReading" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.hubboReading" for="field_hubboReading">Hubbo Reading</label>
                    <input type="number" class="form-control" name="hubboReading" id="field_hubboReading"
                        [(ngModel)]="plantLog.hubboReading" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.serviceDueAt" for="field_serviceDueAt">Service Due At</label>
                    <input type="number" class="form-control" name="serviceDueAt" id="field_serviceDueAt"
                        [(ngModel)]="plantLog.serviceDueAt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.rucDueAt" for="field_rucDueAt">Ruc Due At</label>
                    <input type="number" class="form-control" name="rucDueAt" id="field_rucDueAt"
                        [(ngModel)]="plantLog.rucDueAt" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.wofDueDate" for="field_wofDueDate">Wof Due Date</label>
                    <div class="d-flex">
                        <input id="field_wofDueDate" type="datetime-local" class="form-control" name="wofDueDate" [(ngModel)]="wofDueDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.cofDueDate" for="field_cofDueDate">Cof Due Date</label>
                    <div class="d-flex">
                        <input id="field_cofDueDate" type="datetime-local" class="form-control" name="cofDueDate" [(ngModel)]="cofDueDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.serviceDueDate" for="field_serviceDueDate">Service Due Date</label>
                    <div class="d-flex">
                        <input id="field_serviceDueDate" type="datetime-local" class="form-control" name="serviceDueDate" [(ngModel)]="serviceDueDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.plant" for="field_plant">Plant</label>
                    <select class="form-control" id="field_plant" name="plant" [(ngModel)]="plantLog.plant" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="plantOption.id === plantLog.plant?.id ? plantLog.plant : plantOption" *ngFor="let plantOption of plants; trackBy: trackPlantById">{{plantOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.operator" for="field_operator">Operator</label>
                    <select class="form-control" id="field_operator" name="operator" [(ngModel)]="plantLog.operator" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="peopleOption.id === plantLog.operator?.id ? plantLog.operator : peopleOption" *ngFor="let peopleOption of people; trackBy: trackPeopleById">{{peopleOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.plantLog.site" for="field_site">Site</label>
                    <select class="form-control" id="field_site" name="site" [(ngModel)]="plantLog.site" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id === plantLog.site?.id ? plantLog.site : projectOption" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
