<div>
    <h2 id="page-heading">
        <span jhiTranslate="prestartApp.prestartQuestionOption.home.title">Prestart Question Options</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prestart-question-option" [routerLink]="['/prestart-question-option/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prestartApp.prestartQuestionOption.home.createLabel">
            Create new Prestart Question Option
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="prestartQuestionOptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestionOption.body">Body</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestionOption.isNormal">Is Normal</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestionOption.isActive">Is Active</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestionOption.question">Question</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prestartQuestionOption of prestartQuestionOptions ;trackBy: trackId">
                <td><a [routerLink]="['/prestart-question-option', prestartQuestionOption.id, 'view' ]">{{prestartQuestionOption.id}}</a></td>
                <td>{{prestartQuestionOption.body}}</td>
                <td>{{prestartQuestionOption.isNormal}}</td>
                <td>{{prestartQuestionOption.isActive}}</td>
                <td>
                    <div *ngIf="prestartQuestionOption.question">
                        <a [routerLink]="['../prestart-question', prestartQuestionOption.question?.id, 'view' ]" >{{prestartQuestionOption.question?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/prestart-question-option', prestartQuestionOption.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prestart-question-option', prestartQuestionOption.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prestart-question-option/'+ prestartQuestionOption.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
