<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prestartQuestionOption">
            <h2><span jhiTranslate="prestartApp.prestartQuestionOption.detail.title">Prestart Question Option</span> {{prestartQuestionOption.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestartApp.prestartQuestionOption.body">Body</span></dt>
                <dd>
                    <span>{{prestartQuestionOption.body}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartQuestionOption.isNormal">Is Normal</span></dt>
                <dd>
                    <span>{{prestartQuestionOption.isNormal}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartQuestionOption.isActive">Is Active</span></dt>
                <dd>
                    <span>{{prestartQuestionOption.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartQuestionOption.question">Question</span></dt>
                <dd>
                    <div *ngIf="prestartQuestionOption.question">
                        <a [routerLink]="['/prestart-question', prestartQuestionOption.question?.id, 'view']">{{prestartQuestionOption.question?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prestart-question-option', prestartQuestionOption.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
