<div>
    <h2 id="page-heading">
        <span jhiTranslate="prestartApp.niggle.home.title">Niggles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-niggle" [routerLink]="['/niggle/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prestartApp.niggle.home.createLabel">
            Create new Niggle
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="niggles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="prestartApp.niggle.description">Description</span></th>
            <th><span jhiTranslate="prestartApp.niggle.status">Status</span></th>
            <th><span jhiTranslate="prestartApp.niggle.note">Note</span></th>
            <th><span jhiTranslate="prestartApp.niggle.priority">Priority</span></th>
            <th><span jhiTranslate="prestartApp.niggle.quattraReference">Quattra Reference</span></th>
            <th><span jhiTranslate="prestartApp.niggle.quattraComments">Quattra Comments</span></th>
            <th><span jhiTranslate="prestartApp.niggle.invoiceNo">Invoice No</span></th>
            <th><span jhiTranslate="prestartApp.niggle.dateOpened">Date Opened</span></th>
            <th><span jhiTranslate="prestartApp.niggle.dateClosed">Date Closed</span></th>
            <th><span jhiTranslate="prestartApp.niggle.dateCompleted">Date Completed</span></th>
            <th><span jhiTranslate="prestartApp.niggle.eta">Eta</span></th>
            <th><span jhiTranslate="prestartApp.niggle.purchaseOrder">Purchase Order</span></th>
            <th><span jhiTranslate="prestartApp.niggle.plant">Plant</span></th>
            <th><span jhiTranslate="prestartApp.niggle.assignedContractor">Assigned Contractor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let niggle of niggles ;trackBy: trackId">
                <td><a [routerLink]="['/niggle', niggle.id, 'view' ]">{{niggle.id}}</a></td>
                <td>{{niggle.description}}</td>
                <td jhiTranslate="{{'prestartApp.Status.' + niggle.status}}">{{niggle.status}}</td>
                <td>{{niggle.note}}</td>
                <td jhiTranslate="{{'prestartApp.Priority.' + niggle.priority}}">{{niggle.priority}}</td>
                <td>{{niggle.quattraReference}}</td>
                <td>{{niggle.quattraComments}}</td>
                <td>{{niggle.invoiceNo}}</td>
                <td>{{niggle.dateOpened | date:'medium'}}</td>
                <td>{{niggle.dateClosed | date:'medium'}}</td>
                <td>{{niggle.dateCompleted | date:'medium'}}</td>
                <td>{{niggle.eta | date:'medium'}}</td>
                <td>
                    <div *ngIf="niggle.purchaseOrder">
                        <a [routerLink]="['../purchase-order', niggle.purchaseOrder?.id, 'view' ]" >{{niggle.purchaseOrder?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="niggle.plant">
                        <a [routerLink]="['../plant', niggle.plant?.id, 'view' ]" >{{niggle.plant?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="niggle.assignedContractor">
                        <a [routerLink]="['../maintenance-contractor', niggle.assignedContractor?.id, 'view' ]" >{{niggle.assignedContractor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/niggle', niggle.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/niggle', niggle.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'niggle/'+ niggle.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
