.section {
    padding: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button-back {
    margin-left: auto;
}

:host {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* height: 100%; */
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: scroll;
}
