<form [formGroup]="meterForm" (ngSubmit)="onSubmit()">
  <div class="section">
    <div class="mat-subheading-2">Meter Reading</div>
    <mat-form-field>
      <input matInput placeholder="Last reading" value="{{plant.meterReading}}" readonly disabled>
      <span matSuffix> {{plant.meterUnit}}</span>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="New reading" formControlName="meterReading" required (keyup)="onKeyup($event)">
      <span matSuffix> {{plant.meterUnit}}</span>
      <mat-error *ngIf="meterForm.get('meterReading').getError('required')">
        Meter reading is required.
      </mat-error>
      <mat-error *ngIf="meterForm.get('meterReading').getError('min')">
        New reading must not be lower than the last reading.
      </mat-error>
    </mat-form-field>
  </div>
  <mat-divider *ngIf="plant.hubboReading"></mat-divider>
  <div class="section" *ngIf="plant.hubboReading">

    <div class="mat-subheading-2">Hubbo Reading</div>
    <mat-form-field>
      <input matInput placeholder="Last reading" value="{{plant.hubboReading}}" readonly disabled>
      <span matSuffix> KM</span>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="New reading" formControlName="hubboReading" required (keyup)="onKeyup($event)">
      <span matSuffix> KM</span>
      <mat-error *ngIf="meterForm.get('hubboReading').getError('required')">
        Hubbo reading is required.
      </mat-error>
      <mat-error *ngIf="meterForm.get('hubboReading').getError('min')">
        New reading must not be lower than the last reading.
      </mat-error>
    </mat-form-field>
  </div>

  <div class='button-container'>
    <button mat-button class="button-back" routerLink="/questions" type="button">Back</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!meterForm.valid" >Next</button>
  </div>
</form>