<div>
    <h2 id="page-heading">
        <span jhiTranslate="prestartApp.prestartQuestion.home.title">Prestart Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prestart-question" [routerLink]="['/prestart-question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prestartApp.prestartQuestion.home.createLabel">
            Create new Prestart Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="prestartQuestions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestion.body">Body</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestion.isLockOutRequired">Is Lock Out Required</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestion.order">Order</span></th>
            <th><span jhiTranslate="prestartApp.prestartQuestion.prestartCheckConfig">Prestart Check Config</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prestartQuestion of prestartQuestions ;trackBy: trackId">
                <td><a [routerLink]="['/prestart-question', prestartQuestion.id, 'view' ]">{{prestartQuestion.id}}</a></td>
                <td>{{prestartQuestion.body}}</td>
                <td>{{prestartQuestion.isLockOutRequired}}</td>
                <td>{{prestartQuestion.order}}</td>
                <td>
                    <div *ngIf="prestartQuestion.prestartCheckConfig">
                        <a [routerLink]="['../prestart-check-config', prestartQuestion.prestartCheckConfig?.id, 'view' ]" >{{prestartQuestion.prestartCheckConfig?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/prestart-question', prestartQuestion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prestart-question', prestartQuestion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prestart-question/'+ prestartQuestion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
