<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-prestart-question-heading" jhiTranslate="prestartApp.prestartQuestion.home.createOrEditLabel">Create or edit a Prestart Question</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!prestartQuestion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="prestartQuestion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartQuestion.body" for="field_body">Body</label>
                    <input type="text" class="form-control" name="body" id="field_body"
                        [(ngModel)]="prestartQuestion.body" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartQuestion.isLockOutRequired" for="field_isLockOutRequired">Is Lock Out Required</label>
                    <input type="checkbox" class="form-control" name="isLockOutRequired" id="field_isLockOutRequired"
                        [(ngModel)]="prestartQuestion.isLockOutRequired" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartQuestion.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                        [(ngModel)]="prestartQuestion.order" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartQuestion.prestartCheckConfig" for="field_prestartCheckConfig">Prestart Check Config</label>
                    <select class="form-control" id="field_prestartCheckConfig" name="prestartCheckConfig" [(ngModel)]="prestartQuestion.prestartCheckConfig" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="prestartCheckConfigOption.id === prestartQuestion.prestartCheckConfig?.id ? prestartQuestion.prestartCheckConfig : prestartCheckConfigOption" *ngFor="let prestartCheckConfigOption of prestartcheckconfigs; trackBy: trackPrestartCheckConfigById">{{prestartCheckConfigOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
