<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="prestartQuestion">
            <h2><span jhiTranslate="prestartApp.prestartQuestion.detail.title">Prestart Question</span> {{prestartQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="prestartApp.prestartQuestion.body">Body</span></dt>
                <dd>
                    <span>{{prestartQuestion.body}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartQuestion.isLockOutRequired">Is Lock Out Required</span></dt>
                <dd>
                    <span>{{prestartQuestion.isLockOutRequired}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartQuestion.order">Order</span></dt>
                <dd>
                    <span>{{prestartQuestion.order}}</span>
                </dd>
                <dt><span jhiTranslate="prestartApp.prestartQuestion.prestartCheckConfig">Prestart Check Config</span></dt>
                <dd>
                    <div *ngIf="prestartQuestion.prestartCheckConfig">
                        <a [routerLink]="['/prestart-check-config', prestartQuestion.prestartCheckConfig?.id, 'view']">{{prestartQuestion.prestartCheckConfig?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prestart-question', prestartQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
