<div class="home-container">
    <div>
        <h4 jhiTranslate="home.title">Welcome to Dempsey Wood Fleet App</h4>
        <div *ngIf="adSignedIn && !accountObtained">
            Signing you in...
        </div>
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">
                <div class="pt-4">
                    <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.firstName}}'}"> Hello "{{account.firstName}}". </span>

                </div>
                <mat-grid-list cols="2" rowHeight="2:1" class="mt-4 mb-4" gutterSize="4">
                    <mat-grid-tile>
                        <button mat-raised-button color="primary" class="prestartButton" routerLink="select-plant">Prestart</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <button mat-raised-button color="accent" class="prestartButton" routerLink="select-plant">Audit</button>
                    </mat-grid-tile>
                </mat-grid-list>

            </div>
        </div>
        <div class="pt-4" *ngIf="!adSignedIn">
            <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
            <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
        </div>
    </div>

    <div class="pt-4 sign-out" *ngIf="account">
        <a class="link" (click)="logout()">
            <u>Not {{account.firstName}}? Click here to Sign out</u>
        </a>
    </div>
</div>