<div class="mat-typography component-container">
    <h4>Sign and submit the prestart.</h4>
    <div class="signature-container">
        <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()" class="signature"></signature-pad>
    </div>
    <div>
        <mat-checkbox [(ngModel)]="checked">
        </mat-checkbox>
        <span class="declaration-tex mat-caption">Completing and signing this form confirms that I understand my health and safety obligations as employee of Dempsey Wood and have completed all servicing and inspection requirements for the vehicle. 
            I have reported all faults or damage to my foreman, Manager or Fleet Manager. 
            Failure to Complete this form and submitting it to the Fleet Manager may result in not being paid.</span>

    </div>
    <div class="button-container">
        <button mat-button class="button-back" routerLink="/review">Back</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!checked || !signed || submitting"
        (click)="onSubmit()">Submit</button>
    </div>
</div>