<div>
    <h2 id="page-heading">
        <span jhiTranslate="prestartApp.prestartCheck.home.title">Prestart Checks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prestart-check" [routerLink]="['/prestart-check/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="prestartApp.prestartCheck.home.createLabel">
            Create new Prestart Check
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="prestartChecks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="prestartApp.prestartCheck.signature">Signature</span></th>
            <th><span jhiTranslate="prestartApp.prestartCheck.notes">Notes</span></th>
            <th><span jhiTranslate="prestartApp.prestartCheck.plantLog">Plant Log</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prestartCheck of prestartChecks ;trackBy: trackId">
                <td><a [routerLink]="['/prestart-check', prestartCheck.id, 'view' ]">{{prestartCheck.id}}</a></td>
                <td>
                    <a *ngIf="prestartCheck.signature" (click)="openFile(prestartCheck.signatureContentType, prestartCheck.signature)">
                        <img [src]="'data:' + prestartCheck.signatureContentType + ';base64,' + prestartCheck.signature" style="max-height: 30px;" alt="prestartCheck image"/>
                    </a>
                    <span *ngIf="prestartCheck.signature">{{prestartCheck.signatureContentType}}, {{byteSize(prestartCheck.signature)}}</span>
                </td>
                <td>{{prestartCheck.notes}}</td>
                <td>
                    <div *ngIf="prestartCheck.plantLog">
                        <a [routerLink]="['../plant-log', prestartCheck.plantLog?.id, 'view' ]" >{{prestartCheck.plantLog?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/prestart-check', prestartCheck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prestart-check', prestartCheck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prestart-check/'+ prestartCheck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
