<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-prestart-check-heading" jhiTranslate="prestartApp.prestartCheck.home.createOrEditLabel">Create or edit a Prestart Check</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!prestartCheck.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="prestartCheck.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartCheck.signature" for="field_signature">Signature</label>
                    <div>
                        <img [src]="'data:' + prestartCheck.signatureContentType + ';base64,' + prestartCheck.signature" style="max-height: 100px;" *ngIf="prestartCheck.signature" alt="prestartCheck image"/>
                        <div *ngIf="prestartCheck.signature" class="form-text text-danger clearfix">
                            <span class="pull-left">{{prestartCheck.signatureContentType}}, {{byteSize(prestartCheck.signature)}}</span>
                            <button type="button" (click)="clearInputImage('signature', 'signatureContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_signature" (change)="setFileData($event, prestartCheck, 'signature', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="signature" id="field_signature"
                        [(ngModel)]="prestartCheck.signature" />
                    <input type="hidden" class="form-control" name="signatureContentType" id="field_signatureContentType"
                        [(ngModel)]="prestartCheck.signatureContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartCheck.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                        [(ngModel)]="prestartCheck.notes" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="prestartApp.prestartCheck.plantLog" for="field_plantLog">Plant Log</label>
                    <select class="form-control" id="field_plantLog" name="plantLog" [(ngModel)]="prestartCheck.plantLog">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="plantLogOption.id === prestartCheck.plantLog?.id ? prestartCheck.plantLog : plantLogOption" *ngFor="let plantLogOption of plantlogs; trackBy: trackPlantLogById">{{plantLogOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
